#include <windows.h>
#include "resource.h"
#include "BuildInfo.h"

IDI_CITRON ICON "icons/citron.ico"

IDR_FONT_BODY RCDATA "fonts/HankenGrotesk.ttf"
IDR_FONT_MONO RCDATA "fonts/JetBrainsMono.ttf"
IDR_FONT_TITLE RCDATA "fonts/SchibstedGrotesk.ttf"
IDR_CATALOG RCDATA "../catalog/versions.json"
IDR_LAUNCHER_CORE RCDATA "../third_party/launchercore/launcher_core.dll"
IDR_LAUNCHER_API RCDATA "../third_party/launchercore/launcher_api.dll"
IDR_LIB_HTTP_CLIENT RCDATA "../third_party/launchercore/libHttpClient.dll"
IDR_VCRUNTIME140_1 RCDATA "../third_party/launchercore/vcruntime140_1.dll"
IDR_VCRUNTIME140 RCDATA "../third_party/launchercore/vcruntime140.dll"
IDR_MSVCP140 RCDATA "../third_party/launchercore/msvcp140.dll"
IDR_MSVCP140_CODECVT_IDS RCDATA "../third_party/launchercore/msvcp140_codecvt_ids.dll"

VS_VERSION_INFO VERSIONINFO
FILEVERSION CITRON_VERSION_MAJOR, CITRON_VERSION_MINOR, CITRON_VERSION_PATCH, 0
PRODUCTVERSION CITRON_VERSION_MAJOR, CITRON_VERSION_MINOR, CITRON_VERSION_PATCH, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Citron"
            VALUE "FileDescription", "Citron Launcher"
            VALUE "FileVersion", CITRON_VERSION_STRING
            VALUE "InternalName", "CitronLauncher"
            VALUE "LegalCopyright", "GPL-3.0"
            VALUE "OriginalFilename", "CitronLauncher.exe"
            VALUE "ProductName", "Citron Launcher"
            VALUE "ProductVersion", CITRON_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
